*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 7%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}

.navLinks{
    display: flex;
    gap: 50px;
}

.navLinks li a{
    display: inline-block;
    color: white;
    transition: 0.5s ease;
}

.nav-btn .navButton{
    padding: 12px 25px;
    border: 5px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: 0.5s ease;
}

.nav-btn .navButton:hover{
    border: 2px solid #ae957a;
    color: #ae957a;
    transform: translateY(5px);
}

.navLinks li a:hover{
    color: #ae957a;
    transform: translateY(5px) !important;
}

#hero{
    height: 100vh;
    width: 100vw;
    background-image: url(./bg.png);
    background-position: center;
    background-size: cover;
    /* position: relative; */
    padding: 0 7%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.hero-image img{
    width: 100%;
}

.heroText h5{
    color: white;
}
.heroText h1{
    color: white;
}
.heroText p{
    color: white;
}